:root {
	--c1:#594F4F; /* fila1, color3, color4*/
	--c2:#547980; /* fila2 */
	--c3:#45ADA8; /* fila3 */
	--c4:#9DE0AD; /* fila4 */
	--c5:#53777A; /* fila5 */
}
#color1{
	background-color: var(--c1);

}

#color2{
	background-color: var(--c2);
}

#color3{
	background-color: var(--c3);
}

#color4{
	background-color: var(--c4);
}

#color5{
	background-color: var(--c5);
}

#barra1{
	height: 10%;
}

#barra2{
	height: 50%;
}

#barra3{
	height: 25%;
}

#barra4{
	height: 25%;
}

#barra5{
	height: 10%;
}

#barra6{
	height: 80%
}

.y{
	height: 13vh;
	display: flex;
	align-items: center;
	justify-content: center;