:root {
	--c1:#594F4F; /* fila1, color3, color4*/
	--c2:#547980; /* fila2 */
	--c3:#45ADA8; /* fila3 */
	--c4:#9DE0AD; /* fila4 */
	--c5:#53777A; /* fila5 */
}

/*-----------columnas----------------*/
#col1-g4{
	height: 100%;
	background-color: var( --c1);
}
#col2-g4{
	height: 100%;
	background-color: var( --c3);
}
#col3-g4{
	height: 100%;
	background-color: var( --c2);
}
#col4-g4{
	height: 100%;
	background-color: var( --c3);
}
#col5-g4{
	height: 100%;
	background-color: var(--c1)
}
#col6-g4{
	height: 100%;
}
#col7-g4{
	height: 100%;
	background-color: var( --c4);
}
#col8-g4{
	background-color: var( --c1);
}
#col9-g4{
	background-color: var( --c4);
}
#col10-g4{
	background-color: var( --c3);
}
#col11-g4{
	background-color: var( --c3);
}
#col12-g4{
	background-color: var(--c4);
}
#col13-g4{
	background-color: var(--c3);
}
.lineas2{
	height: 50%;
	background-color: var(--c2);
	border-color: white;
	border-style: solid;
}


#row1-g4{
	height: 20%;
}
#row2-g4{
	height: 30%;
}
#row3-g4{
	height: 30%;
}
#row4-g4{
	height: 10%;
}
#row5-g4{
	height: 9%;
}